<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Register</display-name>
  <welcome-file-list>
    <welcome-file>Admin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FacultyTableController</display-name>
    <servlet-name>FacultyTableController</servlet-name>
    <servlet-class>controller.FacultyTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyTableController</servlet-name>
    <url-pattern>/FacultyTableController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyUpdate</display-name>
    <servlet-name>FacultyUpdate</servlet-name>
    <servlet-class>controller.FacultyUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyUpdate</servlet-name>
    <url-pattern>/FacultyUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyUpdate2Controller</display-name>
    <servlet-name>FacultyUpdate2Controller</servlet-name>
    <servlet-class>controller.FacultyUpdate2Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyUpdate2Controller</servlet-name>
    <url-pattern>/FacultyUpdate2Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRow</display-name>
    <servlet-name>DeleteRow</servlet-name>
    <servlet-class>controller.DeleteRow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRow</servlet-name>
    <url-pattern>/DeleteRow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentTableController</display-name>
    <servlet-name>StudentTableController</servlet-name>
    <servlet-class>controller.StudentTableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentTableController</servlet-name>
    <url-pattern>/StudentTableController</url-pattern>
  </servlet-mapping>
</web-app>